fastapi==0.136.1from fastapi import FastAPI
from app.routers import services, bookings
from app.database import *

Base.metadata.create_all(bind=engine)

app = FastAPI()

app.include_router(bookings.router)
app.include_router(services.router)
uvicorn[standard]==0.46.0
SQLAlchemy==2.0.49
psycopg2-binary==2.9.12
pydantic==2.13.3